{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PG Finder - Login</title>
  <link rel="stylesheet" href= {%static "css/owner-register.css"%}>
</head>
<body>
  <div class="container">
    <div class="transparent-css">
      <div class="scrollable-co ntent">
        <form action="" class="owner_registretion1-css">
          <div class="left-css">
            <label for="Name">First Name</label>
            <input type="text" placeholder="First Name" class="firstname" required>

            <label for="Email">Email</label>
            <input type="email" placeholder="Email" class="email" required>

            
            <label for="city">City</label>
            <input type="text" placeholder="City" class="city" required>

            <label for="DOB">Date-of-Birth</label>
            <input type="date" placeholder="Name" class="DOB" required>

          <label for="Address">Address</label>
          <input type="text" placeholder="Address" class="address" required>

          <label for="Username">Username</label>
          <input type="text" placeholder="Username" class="username" required>
           

          </div>

          <div class="right-css">
            <label for="Last Name">Last Name</label>
            <input type="text" placeholder="Last Name" class="lastname" required>

            <label for="Phone">Phone</label>
            <input type="tel" placeholder="Phone" class="phone" required>

            <label for="Pincode">Pincode</label>
            <input type="number" placeholder="Pincode" class="pincode" required>

            <label for="Aadhar-Number">Aadhar Number</label>
            <input type="number" placeholder="Aadhar Number" class="aadhar" required>

            <label for="Name">Profile Image</label>
            <input type="file" placeholder="Name" class="proflie" required>


             <label for="Password">Password</label>
            <input type="password" placeholder="Password" class="password" required>         

          </div>

          
        </form>
      </div>
    </div>
  </div>

</body>
</html>
