{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PG Finder - Login</title>
  <link rel="stylesheet" href={%static "css/login.css"%}>
</head>
<body>
  <div class="container">
    <div class="transparent-css">
      <h1 class="title">PG Finder Login</h1>
      <div class="userpass-css">
        <form>
          <input class="username-css" type="text" placeholder="Username" required>
          <input class="password-css" type="password" placeholder="Password" required>
          <button class="login-css">Login</button>
        </form>
      </div>
      <div class="hyperlink-css">
          <a class="clint-css" href="#">Clint Resgister?</a>
          <a class="owner-css" href="#">Owner Resgister?</a>
      </div>
    </div>
  </div>

</body>
</html>
